.form{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.btn{
    border: 1px #ba181b solid;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 8px;
    color: #ba181b;
    font-weight: 400;
    font-size: small;
    font-family: 'Proxima Soft', sans-serif;
    font-size: small;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.bordered{
    border: 1px solid #C7C7C7;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

@media (max-width:420px) {
    .form{
        width: 90%;
    }
}