.order{
    width: 100%;
    min-height: 125px;
    /* border-bottom: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px 10px;
}

.info{
    width: 400px;
}

.info > p:first-child{
    display: flex;
    justify-content: space-between;
}

.info > p:nth-child(2){
    display: flex;
    justify-content: space-between;
}

.img{
    width: 125px;
    height: 125px;
}

.btn{
    min-width: 25px;
    max-width: max-content;
    height: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 0 5px;
    border: 1px solid #F44336;
    color: #FF0000;
    font-size: 16px;
}
.saveBtnWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn:last-child{
    align-self: flex-end;
}


@media (max-width: 430px) {
    .container{
        min-height: auto;
    }
}  