.product_container{
    border-bottom: 1px dashed rgb(214, 214, 214);
    padding: 20px 5px;
    align-self: center;
}

.name{
    display: flex;
    justify-content: space-between;
}

.img{
    border-radius: 10px;
    transition: 1s;
}
.resize{
    display: inline-block;
    overflow: hidden;
}
.img:hover{
    transform: scale(1.3);
}

.btn:last-child{
    font-size: 10px;
}

