.wrapper{
    display: flex;
}
.offer-back{
    background: url('../assets/dark-aromatic-chocolate-coffee-beans-freshly-baked-hot-cool-dawn-inside-best-professional-roasting-machine.jpg') no-repeat center;
    background-size: cover;
}
.offer-bar-back{
    background: url('../assets/kons_img4.jpg') no-repeat center;
    background-size: cover;
}
.darkness {
    background-color: rgba(0, 0, 0, 0.5);
}