.catcat{
    border: 1px solid #161a1d5e;
    text-align: center;
    min-width: 152px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    transform-origin: 0 0 0;
    color: #161A1D;
    border-radius: 15px;
}

.catcat:hover{
    background-color: #d3d3d3;
}
.tabActive{
    background-color: #d3d3d3;
}
.catcatBck{
    background-color: #fff;
}

