.catcat{
    border: 1px solid #ba181b;
    text-align: center;
    min-width: 153px;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    transform-origin: 0 0 0;
    color: #ba181b;
}

.catcat:hover{
    background-color: #f1f1f1;
}
.catcatBck{
    background-color: #f9f9f9;
}

