.header{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
} 
.btn{
    width: max-content;
    height: 40px;
    padding: 3px 10px;
    border: 1px solid black;
}

.hrefWrapper{
    align-self: self-end;
}

