.imageWrapper{
    width: 400px;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.btnImg{
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.btn{
    justify-items: center;
}
